<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Likes</h4>
      <i class="devicon-rails-plain colored"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-heroku-plain colored"></i>
      <!-- <i class="devicon-html5-plain-wordmark"></i> -->
<!--       <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <p>Continually becoming a better developer, writing well-tested & maintainable code, CI, consistent build schedules.</p>
    </div>
    <div class="four columns">
      <h4>Dislikes</h4>
      <!-- <i class="devicon-less-plain-wordmark colored"></i> -->
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <i class="fa fa-meh-o" aria-hidden="true"></i>
      <i class="fa fa-frown-o" aria-hidden="true"></i>
<!--       <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>Inconsistent syntax style, flickering front-end JS specs, duplicate code, not learning from my mistakes.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-github-plain"></i>
      <i class="devicon-ruby-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
<!--       <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>After several years doing technical SEO, I dove into web development 2 years ago, and I've been learning and building skills every day.</p>
    </div>
  </div>
</div>
