<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Likes</h4>
      <i class="devicon-rails-plain colored"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-heroku-plain colored"></i>
      <p>Continually becoming a better developer, writing well-tested & maintainable code, CI, consistent build schedules.</p>
    </div>
    <div class="four columns">
      <h4>Dislikes</h4>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <i class="fa fa-meh-o" aria-hidden="true"></i>
      <i class="fa fa-frown-o" aria-hidden="true"></i>
      <p>Inconsistent syntax style, flickering front-end specs, duplicate code, vague naming conventions, repeating my mistakes.</p>
    </div>
    <div class="four columns">
      <h4>Experience</h4>
      <i class="devicon-github-plain"></i>
      <i class="devicon-ruby-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>After several years doing technical SEO, I dove into web development 2 years ago, and I've been learning and building skills every day.</p>
    </div>
  </div>
</div>
