<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="flicks-onlists" src="{{ "/assets/img/flicks-on-lists-screenshot.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Flicks on Lists </h5>
      <p>Build movie lists, find movies to watch, rate what you've watched. Like Goodreads for movies.</p>
      <ul>
        <li>Feature/Site Planning</li>
        <li>Database Architecture</li>
        <li>API integration</li>
      </ul>
      <a class="project-link" href="http://www.flicksonlists.com/demo" target="_blank">Live Site</a>
      <a class="project-link" href="https://github.com/mikevallano/tmdb-moviequeue" target="_blank">Repo on Github</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="thoroughcare" src="{{ "/assets/img/thoroughcare-screenshot.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>ThoroughCare</h5>
      <ul>
        <li>Bug Fixing</li>
        <li>Full-stack Feature Implementation</li>
        <li>API Integration</li>
      </ul>
      <p>ThoroughCare is software that helps medical practices to manage their patients. My first gig as a web developer, and I've been learnign a ton, writing production code every day since May 2016.</p>
      <a class="project-link" href="http://www.thoroughcare.net/" target="_blank">Check it out</a>
    </div>
  </div>
</div>
