<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/flicks-on-lists-screenshot.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Flicks on Lists </h5>
      <!-- <li> Featured Skills</li> -->
      <p>Build movie lists, find movies to watch, rate what you've watched. Like Goodreads for movies.</p>
      <ul>
        <li>Feature planning</li>
        <li>Database architecture</li>
        <li>API integration</li>
      </ul>
      <a class="project-link" href="#">Live Site</a>
      <a class="project-link" href="#">Repo on Github</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/thoroughcare-screenshot.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>ThoroughCare</h5>
      <ul>
        <li>Bug Fixing</li>
        <li>Feature Building</li>
      </ul>
      <p>ThoroughCare is software that helps medical practices to manage their patients. My first gig as a web developer, and I've been learning a ton.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
